/**** Colors ****/
:root {
--teal: #1a6986;
--sapphire: #1f419a;
--white: #ffffff;
--teal-40: #8cb4c2;
--steel: #5f636a;
--crimson: #cd3835;
--cerulean-60: #9dc9e9;
--cerulean-20: #daeaf6;
--crimson-60: #d45653;
--teal-20: #bad2da;
--cerulean-80: #85bce4;
--smoke: #a3a7a9;
--ruby: #a82d2b;
--mist: #eeeeee;
--crimson-40: #dc7371;
--crimson-20: #e69b9a;
--silver: #dddddd;
--crimson: #cd3835;
--charcoal: #4a4a4a;
--silver: #dddddd;
--midnight: #1e384b;
--mist: #eeeeee;
--midnight-40: #8e9ba5;
--teal: #1a6986;
--teal-80: #3c7f98;
--charcoal: #4a4a4a;
--smoke: #cdcdcd;
--midnight-80: #405666;
--cerulean-40: #c2ddf1;
--teal-60: #5e96aa;
--steel: #5f636a;
--cerulean: #5191cd;
--midnight: #1e384b;
--midnight-20: #bbc3c9;
--midnight-60: #617381;
} /* close :root */

/**** Fonts ****/
:root {
/** title-link **/
--title-link-font-size: 18px;
--title-link-color: #1F419A;
--title-link-line-height: 22px;
--title-link-font-family: Tahoma;
--title-link-font-weight: 400;
--title-link-text-align: left;
/** link **/
--link-font-size: 15px;
--link-color: #1F419A;
--link-line-height: 20px;
--link-font-family: Tahoma;
--link-font-weight: 400;
--link-text-align: left;
/** h1 **/
--h1-font-size: 32px;
--h1-color: #1E384B;
--h1-line-height: 34px;
--h1-font-family: Tahoma;
--h1-font-weight: 700;
--h1-text-align: left;
/** h3-mobile **/
--h3-mobile-font-size: 18px;
--h3-mobile-color: #1E384B;
--h3-mobile-line-height: 20px;
--h3-mobile-font-family: Tahoma;
--h3-mobile-font-weight: 700;
--h3-mobile-text-align: left;
/** h2 **/
--h2-font-size: 28px;
--h2-color: #1E384B;
--h2-line-height: 30px;
--h2-font-family: Tahoma;
--h2-font-weight: 700;
--h2-text-align: left;
/** h1-mobile **/
--h1-mobile-font-size: 28px;
--h1-mobile-color: #1E384B;
--h1-mobile-line-height: 30px;
--h1-mobile-font-family: Tahoma;
--h1-mobile-font-weight: 700;
--h1-mobile-text-align: left;
/** button **/
--button-font-size: 16px;
--button-color: #4A4A4A;
--button-text-align: left;
--button-line-height: 18px;
--button-font-family: Tahoma;
--button-font-weight: 400;
/** body **/
--body-font-size: 15px;
--body-color: #4A4A4A;
--body-line-height: 20px;
--body-font-family: Tahoma;
--body-font-weight: 400;
--body-text-align: left;
/** input **/
--input-font-size: 16px;
--input-color: #5F636A;
--input-text-align: left;
--input-font-family: Tahoma;
--input-font-weight: 400;
/** h4-mobile **/
--h4-mobile-font-size: 16px;
--h4-mobile-color: #1E384B;
--h4-mobile-line-height: 18px;
--h4-mobile-font-family: Tahoma;
--h4-mobile-font-weight: 700;
--h4-mobile-text-align: left;
/** h3 **/
--h3-font-size: 21px;
--h3-color: #1E384B;
--h3-line-height: 22px;
--h3-font-family: Tahoma;
--h3-font-weight: 700;
--h3-text-align: left;
/** h2-mobile **/
--h2-mobile-font-size: 23px;
--h2-mobile-color: #1E384B;
--h2-mobile-line-height: 25px;
--h2-mobile-font-family: Tahoma;
--h2-mobile-font-weight: 700;
--h2-mobile-text-align: left;
/** h4 **/
--h4-font-size: 16px;
--h4-color: #1E384B;
--h4-line-height: 18px;
--h4-font-family: Tahoma;
--h4-font-weight: 700;
--h4-text-align: left;
} /* close :root */

.title-link {
  font-size: var(--title-link-font-size);
  color: var(--title-link-color);
  line-height: var(--title-link-line-height);
  font-family: var(--title-link-font-family);
  font-weight: var(--title-link-font-weight);
  text-align: var(--title-link-text-align);
}

.link {
  font-size: var(--link-font-size);
  color: var(--link-color);
  line-height: var(--link-line-height);
  font-family: var(--link-font-family);
  font-weight: var(--link-font-weight);
  text-align: var(--link-text-align);
}

.h1 {
  font-size: var(--h1-font-size);
  color: var(--h1-color);
  line-height: var(--h1-line-height);
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  text-align: var(--h1-text-align);
}

.h3-mobile {
  font-size: var(--h3-mobile-font-size);
  color: var(--h3-mobile-color);
  line-height: var(--h3-mobile-line-height);
  font-family: var(--h3-mobile-font-family);
  font-weight: var(--h3-mobile-font-weight);
  text-align: var(--h3-mobile-text-align);
}

.h2 {
  font-size: var(--h2-font-size);
  color: var(--h2-color);
  line-height: var(--h2-line-height);
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  text-align: var(--h2-text-align);
}

.h1-mobile {
  font-size: var(--h1-mobile-font-size);
  color: var(--h1-mobile-color);
  line-height: var(--h1-mobile-line-height);
  font-family: var(--h1-mobile-font-family);
  font-weight: var(--h1-mobile-font-weight);
  text-align: var(--h1-mobile-text-align);
}

.button {
  font-size: var(--button-font-size);
  color: var(--button-color);
  text-align: var(--button-text-align);
  line-height: var(--button-line-height);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
}

.body {
  font-size: var(--body-font-size);
  color: var(--body-color);
  line-height: var(--body-line-height);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  text-align: var(--body-text-align);
}

.input {
  font-size: var(--input-font-size);
  color: var(--input-color);
  text-align: var(--input-text-align);
  font-family: var(--input-font-family);
  font-weight: var(--input-font-weight);
}

.h4-mobile {
  font-size: var(--h4-mobile-font-size);
  color: var(--h4-mobile-color);
  line-height: var(--h4-mobile-line-height);
  font-family: var(--h4-mobile-font-family);
  font-weight: var(--h4-mobile-font-weight);
  text-align: var(--h4-mobile-text-align);
}

.h3 {
  font-size: var(--h3-font-size);
  color: var(--h3-color);
  line-height: var(--h3-line-height);
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  text-align: var(--h3-text-align);
}

.h2-mobile {
  font-size: var(--h2-mobile-font-size);
  color: var(--h2-mobile-color);
  line-height: var(--h2-mobile-line-height);
  font-family: var(--h2-mobile-font-family);
  font-weight: var(--h2-mobile-font-weight);
  text-align: var(--h2-mobile-text-align);
}

.h4 {
  font-size: var(--h4-font-size);
  color: var(--h4-color);
  line-height: var(--h4-line-height);
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  text-align: var(--h4-text-align);
}
